{% extends 'base.html' %} {% block title %} 智能云医学影像分析平台 {% endblock %} {% block
head %}
<!-- 定义主页背景色的CSS样式 -->
<script src="../../static/js/waibu/translate.js"></script>
<script src="../../static/js/waibu/scrollreveal.js"></script>
<script src="../../static/js/waibu/jquery.min.js"></script>
<script src="../../static/js/bootsrap/bootstrap.bundle.min.js"></script>
<script src="../../static/js/waibu/bootstrap-slider.js"></script>
<script src="../../static/js/waibu/jquery-ui.min.js"></script>
<script src="../../static/js/waibu/aos.js"></script>
<script src="../../static/js/other.js"></script>

<link rel="stylesheet" href="../../static/css/waibu/jquery-ui.min.css" />
<link href="../../static/css/waibu/bootstrap-slider.css" rel="stylesheet" />
<link href="../../static/css/waibu/layui.css" rel="stylesheet" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/waibu/jquery-scrollbar.css" />
<link rel="stylesheet" href="../../static/css/wangzhan.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-reboot.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-utilities.css" />
<link rel="stylesheet" href="../../static/css/waibu/aos.css" />
{% endblock %} {% block body%}
<div>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
        <div class="container">
            <a class="h1 navbar-brand" href="{{url_for('root')}}" id="navname">智能云医学影像分析平台</a>
            <button class="navbar-light navbar-toggler collapsed btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarsDefault" aria-expanded="false"
                aria-controls="navbarsDefault">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offcanvas-collapse" id="navbarsDefault">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item">
                        <a href="{{url_for('datauploads.datauploads')}}" class="nav-link">上传数据</a>
                    </li>
                    <li class="breadcrumb-item" style="color: aliceblue;">></li>
                    <li class="nav-item">
                        <a href="#" onclick="showPopup()" class="nav-link">客观评价</a>
                    </li>
                    <li class="breadcrumb-item" style="color: aliceblue;">></li>
                    <li class="nav-item">
                        <a href="{{url_for('subjectivealls.subjectivealls')}}" class="nav-link"
                            style="color: aquamarine;">分享数据</a>
                    </li>
                    <li class="breadcrumb-item" style="color: aliceblue;">></li>
                    <li class="nav-item">
                        <a a href="#" onclick="showPopupa()" class="nav-link">评估</a>
                    </li>
                    <li class="breadcrumb-item" style="color: aliceblue;">></li>
                    <li class="nav-item">
                        <a href="{{url_for('statistics.statistics')}}" class="nav-link">统计</a>
                    </li>
                    <li class="breadcrumb-item" style="color: aliceblue;">></li>
                    <li class="nav-item">
                        <a a href="#" onclick="showPopupb()" class="nav-link">主观评价</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('teammates.teammates')}}" class="nav-link">团队</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">用户</a>
                        <ul class="dropdown-menu" style="min-width: 22px">
                            <li>
                                <a href="{{url_for('login.login')}}" class="dropdown-item">登录</a>
                            </li>
                            <li>
                                <a href="{{url_for('login.register')}}" class="dropdown-item">注册</a>
                            </li>
                            <li>
                                <a href="{{url_for('login.retrieve')}}" class="dropdown-item">找回</a>
                            </li>
                            <li>
                                <a href="/admin" class="dropdown-item">后台</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="translate" style="text-align: right;margin-right: 50px;margin-top: 30px;"></div>
    <div class="container pt-7 pb-5" style="width: 95%">
        <div style="height: 20px"></div>
        <div class="bg-dark onlinetest justify-content-center">
            <table class="table table-dark h4" cellspacing="0" cellpadding="0" style="color: aliceblue">
                <thead>
                    <tr>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Created time
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Updated time
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Project name
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Total slices
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            My slices
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Methods numbers
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Scoring
                        </th>
                        <th colspan="1" rowspan="1" style="text-align: center; vertical-align: middle">
                            Share
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for da,dat in datas %}
                    <tr style="line-height: 40px; height: 100px">
                        <td style="text-align: center; vertical-align: middle">{{da.time}}</td>
                        <td style="text-align: center; vertical-align: middle">{{da.updatetime}}</td>
                        <td style="text-align: center; vertical-align: middle">{{da.projectname}}</td>
                        <td style="text-align: center; vertical-align: middle">{{da.fenshu}}</td>
                        <td style="text-align: center; vertical-align: middle">{{dat}}</td>
                        <td style="text-align: center; vertical-align: middle">{{da.Numberofmethods}}</td>
                        <td style="text-align: center; vertical-align: middle">
                            <a type="button" class="btn btn-success"
                                href="/subjectivealls/subjective?datasname={{da.projectname}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                            </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            <a type="button" class="btn btn-danger" onclick="showPopupc()" id="{{da.projectname}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr style="margin-top: 30px; margin-bottom: 20px" />
            <div style="height: 20px"></div>
            <div id="overlayc">
                <div class="popup">
                    <div style="text-align: right;margin-right: 20px;">
                        <button type="button" class="btn btn-danger h5 confirmBtn" onclick="hiddenPopupc()"
                            style="margin-top: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg></button>
                    </div>
                    <form action="{{url_for('subjectivealls.distributed')}}" method="post">
                        <input id="inputField" name="inputField" hidden value="">
                        <button type="submit" class="btn btn-danger h5 confirmBtn" style="margin-top: 10px;">分发</button>
                        <ul class="popup_content">
                            {% for tea in team %}
                            <li>
                                <h5 class="alert-heading">
                                    {{ tea.username }}
                                    <input type="text" name="{{tea.username}}" placeholder="请输入份数" value="" />
                                </h5>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay">
        <div class="popup">
            <p class="popup_content">请由上传数据页面进入</p>
            <div class="popup_btn">
                <a type="button" class="confirmBtn" href="#" onclick="hiddenPopup()">确认</a>
            </div>
        </div>
    </div>
    <div id="overlaya">
        <div class="popup">
            <p class="popup_content">请由分享数据页面进入</p>
            <div class="popup_btn">
                <a type="button" class="confirmBtn" href="#" onclick="hiddenPopupa()">确认</a>
            </div>
        </div>
    </div>
    <div id="overlayb">
        <div class="popup">
            <p class="popup_content">请由统计页面进入</p>
            <div class="popup_btn">
                <a type="button" class="confirmBtn" href="#" onclick="hiddenPopupb()">确认</a>
            </div>
        </div>
    </div>
</div>
<script>
    function showPopupc() {
        var overlayc = document.getElementById("overlayc");
        overlayc.style.display = "block";
    }
    function showPopup() {
        var overlaya = document.getElementById("overlay");
        overlaya.style.display = "block";
    }
    function showPopupa() {
        var overlayb = document.getElementById("overlaya");
        overlayb.style.display = "block";
    }
    function showPopupb() {
        var overlayc = document.getElementById("overlayb");
        overlayc.style.display = "block";
    }
    function hiddenPopup() {
        var overlaya = document.getElementById("overlay");
        overlaya.style.display = "none";
    }
    function hiddenPopupa() {
        var overlayb = document.getElementById("overlaya");
        overlayb.style.display = "none";
    }
    function hiddenPopupb() {
        var overlayc = document.getElementById("overlayb");
        overlayc.style.display = "none";
    }
    function hiddenPopupc() {
        var overlayc = document.getElementById("overlayc");
        overlayc.style.display = "none";
    }
    document.addEventListener("DOMContentLoaded", function () {
        var aTag = document.querySelectorAll('a[id]'); // 获取带有name属性的<a>标签
        for (var er = 0; er < aTag.length; er++) {
            aTag[er].addEventListener('click', function (e) {
                e.preventDefault(); // 阻止<a>标签的默认行为
                var inputField = document.getElementById('inputField'); // 获取表单输入字段
                inputField.value = this.id; // 将<a>标签的name属性值写入到表单输入字段中
            });
        }
    });
</script>
{% endblock %}